<img alt="Fon image" src="~/Content/Picture/Fon2.jpg" id="image" />
<div id="Device">
    <div id="addmenu">
        <form method="post">
            <input type="button" value="ADD DEVICE" id="addDevice" onclick="AddDevice(selectDevice.value, TextBoxNameOfDevice.value)" /><br />
            <span id="typeOfDevice">Choice a device</span><br />
            <select id="selectDevice" name="typeOfDevice">
                <option value="Lamp">Lamp</option>
                <option value="TV">TV</option>
                <option value="Bake">Bake</option>
                <option value="Frige">Frige</option>
                <option value="Radio">Radio</option>
            </select><br />
            <span id="labelNameOfDevice">Enter name of device</span>
            <input type="text" id="TextBoxNameOfDevice" />
        </form>
    </div>
    @{
        foreach (var dev in ((List<Devices>)ViewBag.DeviceList))
        {
            Html.RenderPartial(dev.ViewPath, dev);
        }
    }
</div>